<h2>
    Edit Profile
</h2>

<hr />

<h3>
    Upload your profile image
</h3>

<form method="post" enctype="multipart/form-data" asp-action="PostEditProfile">

    <input type="file" name="profileImage" class="form-control" />
    <input type="submit" class="btn btn-primary" value="Upload" />

</form>
