body {
    font-family: Arial;
}

header {
    background-color:lawngreen;
    padding:90px;
}

ul {
    margin:0px;
    padding:0px;
}

.menu {
    background-color:#e6e6e6;
}


ul li {
    list-style:none;
    display:inline;
}

    ul li input[type=submit] {
        padding: 10px;
        width:100px;
    }


table div {
  border: solid;
        border-color: lightgray;
        margin: 10px;
}

footer {
    background-color:#90c829;
    padding:30px;
}

footer label a {
   padding-left:50px;
}

@media screen and (max-width:80%) {
    table div {
        min-width:50%;
    }
}

h1 {
    color: #90c829;
}

#title {
    color:white;
}