ul {
    list-style: none;
}

    ul li {
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }

        ul li a {
            display: block;
            padding-left: 10px;
            text-decoration: none;
        }

            ul li a:hover {
                color: blue;
            }

        ul li ul.dropdown {
            min-width: 100%;
            display: none;
            position: absolute;
        }

        ul li:hover ul.dropdown {
            display: block;
        }

        ul li ul.dropdown li {
            display: block;
        }