@model ApplicationCore.Models.Response.MovieDetailsResponseModel

<script>
    function Processing() {
        alert("Processing\nRedirecting to your purchased movies.")
    }
</script>

<form method="post" asp-controller="User" asp-action="PurchaseMovie">
    <div class="card mb-3 container shadow ">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <img src="@Model.PosterUrl" alt="@Model.Title" class="card-img-top">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5>Order Summary</h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 h5">
                            @Model.Title
                        </div>
                        <div class="col-md-6 h5">
                            $@Model.Price
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Confirm Purchase" class="btn btn-primary btn-lg btn-block" onclick="Processing()"/>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</form>