<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Movie Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!isAuth">
        <a [routerLink]="['/login']" class="nav-link">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isAuth">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
    </ul>
  </div>
  <div class="dropdown" *ngIf="isAuth">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{user.given_name}} {{user.family_name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" [routerLink]="['purchases']">Library</a>
      <a class="dropdown-item" (click)="logout()" [routerLink]="['/login']">Log out</a>
      <a class="dropdown-item" [routerLink]="['profile']">View Profile</a>
      <a class="dropdown-item" href="#">Edit Profile</a>
    </div>
  </div>
</nav>